fastapi
uvicorn[standard]
SQLAlchemy
mysql-connector-python
pymysql
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
Pillow
# AI / ML Libraries
tensorflow
transformers
scikit-learn
torch
sentencepiece
datasets
sentence-transformers
# Testing Libraries
pytest
pytest-asyncio
